@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');

:root {
    --white: #fff;
    --black: #212121;
    --grai: #757575;
    --primary: #ffc107;
    --secondary: #0097a7;
    --pfontsize: 3.8rem;
}

.body {
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: var(--pfontsize);
}

