@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');

:root {
    --white: #fff;
    --black: #212121;
    --grai: #757575;
    --primary: #ffc107;
    --secondary: #0097a7;
    --pfontsize: 3.8rem;
}

/*MODULES*/


html {
  font-size: 62.5%; /* => 1rem == 10px*/
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Krub', sans-serif;
  background-image: linear-gradient(to top, #d6cfcf 0%, var(--white) 100%);
}

h1 {
  font-size: var(--pfontsize);
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  font-size: 1.5rem;
}

h1, h2, h3 {
  text-align: center;
}

.title span {
  font-size: 2rem;
}

.masternav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.masternav a {
  padding: 1rem;
  color: var(--white);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}
.masternav a:hover {
  color: rgba( 0, 0, 0, 1);
  background-color: var(--primary);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.button {
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--white);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .5rem;
  width: 80%;
  text-align: center;
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative; /*absolute for relative in the son elemment*/
  margin-bottom: 2rem;
}

.hero-content {
  position: absolute;
  background-color: rgba(0,0,0, .666);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content h2,
.hero-content p {
  color: var(--white);
}

.location {
  display: flex;
  align-items: flex-end;
}

.boxshadow {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
}


/*UTILITIES*/

.nav-bg {
  background-color: var(--secondary);
}

/*RESPONSIVITY
480 smart phone
768 tablet
1140 - 1400 laptop
*/

@media (min-width: 768px) {
  .masternav {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}

@media (min-width: 768px) {
  .services {
    display: grid;
    grid: 33.33% 33.33% 33.33% / 33.33% 33.33% 33.33%;
    grid-column-gap: 1.5rem;
  }
}
